<html lang="en">

<head>
  <title>Soal 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app" class="container">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">Input Panel</div>
        <div class="panel-body">
          <button class="fa fa-plus pull-right" @click="addRow"
            style="font-size:25px;color:#ffffff;cursor:pointer;background-color: blue;"> Add Item</button>

          <table class="table table-bordered">

            <tbody>
              <tr v-for='(user, index) in users'>
                <td>
                  <input list="itemss" class="form-control" />
                </td>
                <datalist id="itemss">
                  <option v-for="form1 in items">{{ form1 }}</option>
                </datalist>
                <td>
                  <input v-model="user.form2" class="form-control" type="text" />
                </td>

                <td>
                  <button @click="deleteRow(index)" class="fa fa-remove"
                    style="font-size:25px;color:red;cursor:pointer"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </form>
      </div>
    </div>
  </div>
  <script src="inputPanel.js"> </script>
</body>

</html>